body

{
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	letter-spacing: 1px;
}


.navigation-header

{
	padding: 1px;
	background-color: black;
}

.navigation-header ul

{
	display: flex;
	justify-content: center;

}

.navigation-header li 

{
	padding-right: 25px;
	font-size: 1.1em;
	list-style-type: none;
}

.navigation-header a

{
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.container

{
	width: 1080px;
	margin: 0 auto;
}

#header-line 

{
	padding: 30px;
	text-align: center;
}

#header-line h1

{
	text-align: center;
	padding-bottom: 30px;

}

.article-display

{
	text-align: center;
}

hr

{
	width: 125px;
	margin-bottom: 30px;
}

.article-display p 

{
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.article-display img

{
	width: 800px;
    border-radius: 2.5px;
    border: 0.50px solid rgb(196, 180, 180);
}

button

{
	width: 450px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover

{
	background-color: #e30000;
}












